<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>io.github.wleeaf.dpi</string>
<key>ProgramArguments</key><array><string>/bin/bash</string><string>/opt/dpi/macos/runtime.sh</string><string>run</string></array>
<key>RunAtLoad</key><true/>
<key>KeepAlive</key><true/>
<key>ThrottleInterval</key><integer>15</integer>
<key>ExitTimeOut</key><integer>10</integer>
<key>StandardOutPath</key><string>/var/log/dpi.log</string>
<key>StandardErrorPath</key><string>/var/log/dpi.log</string>
</dict></plist>
